.list ul li .title:hover, .list ul li .title:focus {
    color: #212121;
}

ul li span {
    font-family: Lato, Helvetica, sans-serif;
    color: #212121;
    font-weight: 300;
}

a {
    font-family: Lato, Helvetica, sans-serif;
    color: #212121;
    font-weight: 700 !important;
}

a:hover, a:focus {
    color: #d60000 !important;
    font-weight: 700 !important;
    text-decoration: none;
}


img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
img:hover {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}
