.list ul li .title:hover, .list ul li .title:focus {
    color: #212121;
}

ul li span {
    font-family: Lato, Helvetica, sans-serif;
    color: #212121;
    font-weight: 300;
}

a {
    font-family: Lato, Helvetica, sans-serif;
    color: #212121;
    font-weight: 700 !important;
}
a:hover, a:focus {
    color: #d60000 !important;
    font-weight: 700 !important;
    text-decoration: none;
}


img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
img:hover {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}
img.rounded {
    border-radius: 10%;
}

/* Contact Form */
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #45a049;
    color: white;
}

/* Navigation menu */
.menu-active {
    text-shadow: 2px 2px 10px gray;
}

p, li {
    text-align: justify;
    text-justify: inter-word;
}
