body {
    background-image: url("../img/rx-studio-logo.png");
    background-size: auto 42px;
    background-repeat: no-repeat;
    background-position: left 25px bottom 25px;
}

.noborder {
    border: 0px !important;
    box-shadow: none !important;
}

.reveal pre {
    width: 100% !important;
    margin: 0px !important;
}
div.sourceCode {
    margin-left: 5% !important;
    margin-right: 5% !important;
}
code.sourceCode {
    border: 2px solid !important;
}

.reveal code {
    font-family: monospace;
    background-color: lightgray;
    padding: 2px 10px;
}

/* two columns */

.flexcontainer{
    display: flex;
}
.flexcol{
    flex: 1;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    //font-family: Inter !important;
    text-transform: none;
}

.reveal h2, .reveal pre, .reveal pre code {
    font-family: "Roboto Mono" !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}

h2.author {
    text-align: center !important;
    font-family: Inter !important;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal a:hover img {
    border: none;
    box-shadow: none;
}

p {
   /* text-align: left; */
}


.reveal pre code {
    max-height: 600px;
}


.cols {
    display: flex;
}
.col {
    flex: 1;
}

.reveal blockquote {
    width: 90%;
}

.reveal blockquote{
  font-size: 2rem;
  width:90%;
  margin:10px auto;
  color: #555555;
  padding:0px 30px 0px 75px;
  border-left:8px solid #1c3d52;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.reveal blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#1c3d52;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-30px;
}

.reveal clearblockquote::after{
  content: '';
}

.reveal blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 5px;
}

.reveal ul {
    width: 100%;
}

.cbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cimg {
  flex: 1;
}


.colcontainer {
  display: flex;
}
.col {
  flex: 1;
}

.reveal pre .smallchunk {
  width: 50%;
}

.shaded {
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black !important;
}
